<footer id="footer">
  <p class="footer-text">
    Website built by <a href="https://www.jmdevshop.com" target="_blank" rel="noreferrer noopener" class="jmdev">JM Dev</a>
  </p>

  <p class="footer-text">
    Donate BTC: 13A8GMJs11D9Eak1upFSRCpsnjjyG5PN1F
  </p>
  <p class="footer-text">
    Donate ETH: 0x1b20cc4937e761625C56006040e711C27161CBD3
  </p>
</footer>
